NEXTAUTH_SECRET='your secret key'
NEXTAUTH_URL=http://localhost:3000/


GITHUB_ID='github id'
GITHUB_SECRET='your github secret'

GOOGLE_ID='your google id'
GOOGLE_CLIENT_SECRET='your google secret key'